@font-face{
    font-family: 'Carson';
    src: url('/fonts/Carson.otf');    
    font-style: normal;
    font-weight: 400;
    }

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;    
    padding: 0 15px;
  
}

.triggers{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    flex-wrap: wrap;

}

.tabs-triggers-item{   
   
    font-family: "Carson";  
    font-weight: 900;
    font-style: normal; 
    white-space: nowrap;
    padding: 20px 70px;
    border-radius: 5px;
    background-color:#c31c3e;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;       
    margin: 10px 10px;   
    display: block;  
    
    

}



.tabs-content-item{
    display: none;
    padding: 20px;
    
}

.tabs-content-item--active{
    display: block;
}

.tabs-triggers-item--active{
    background-color: black;
};


@media (max-width: 907px) {
    .tabs-triggers-item{   
   
        padding: 15px 35px;
        border-radius: 5px;
        background-color:#c31c3e;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;       
        margin: 10px 5px;   
        display: block;  
  };   
   
}; 

@media (max-width: 541px) {
    .tabs-triggers-item{   
        width: 40%;
        padding: 15px 35px;
        border-radius: 5px;
        background-color:#c31c3e;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;       
        margin: 10px 5px;   
        display: block;  
  };   
   
}; 

.header_inner{
    background-image: url("img/fon_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1080px;
    width: 100%;
    height: auto;
};

    
   